## Q1. What is a database? Differentiate between SQL and NoSQL databases.

### When it comes to choosing a database the biggest decision is picking a relational (SQL) or non-relational (NoSQL) data structure. While both databases are viable options still there are certain key differences between the two that users must keep in mind when making a decision.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

## DDL (Data Definition Language) is a type of SQL command used to define data structures and modify data. It creates, alters, and deletes database objects such as tables, views, indexes, and users. Examples of DDL statements include CREATE, ALTER, DROP and TRUNCATE.

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

### DML: Data Manipulation Language
### INSERT: This statement adds table row values. UPDATE: This statement updates the values of a column in a table. To use this, the WHERE condition is necessary. DELETE: This command removes a particular row from a table.

## Q4. What is DQL? Explain SELECT with an example.

### DQL statements are used for performing queries on the data within schema objects. The purpose of DQL commands is to get the schema relation based on the query passed to it. Although often considered part of DML, the SQL SELECT statement is strictly speaking an example of DQL.

## Q5. Explain Primary Key and Foreign Key.

### A primary key is a unique identifier for each record in a table. A foreign key establishes a relationship between tables by referencing the primary key of another table. Ensures uniqueness and data integrity within a single table.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

### The MySQLCursor of mysql-connector-python (and similar libraries) is used to execute statements to communicate with the MySQL database.

### Using the methods of it you can execute SQL statements, fetch data from the result sets, call procedures.

### You can create Cursor object using the cursor() method of the Connection object/class.

## Q7. Give the order of execution of SQL clauses in an SQL query.

### Defining Order of Execution in SQL
#### Getting Data (FROM/JOIN)
#### Row Filter (WHERE)
#### Grouping (GROUP BY)
#### Group Filter (HAVING)
#### Return Expression (SELECT)
#### Order & Paging (ORDER BY & LIMIT/OFFSET)